<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#2-part-of-the-day" data-toc-modified-id="2-part-of-the-day-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>2 part of the day</a></span></li><li><span><a href="#Lambda-function" data-toc-modified-id="Lambda-function-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Lambda function</a></span></li></ul></div>

In [8]:
import pandas as pd

In [4]:
import os
os.getcwd()
os.chdir('../')

In [6]:
df=pd.read_csv('./Slides/vehicles/vehicles/vehicles.csv')

In [10]:
df=pd.read_csv('./Slides/vehicles/vehicles/vehicles_tab.txt', sep="\t")
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000
20,Acura,2.5TL/3.2TL,1998,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
21,Acura,3.2CL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,16.480500,17,27,20,444.350000,2000
22,Acura,3.2CL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
23,Acura,3.2CL,2003,3.2,6.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,26,20,444.350000,2000
24,Acura,3.2CL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
25,Acura,3.2TL,1999,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,25,20,444.350000,2000
26,Acura,3.2TL,2000,3.2,6.0,Automatic 5-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
27,Acura,3.2TL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
28,Acura,3.2TL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
29,Acura,3.2TL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35922,Wallace Environmental,Wetl Testarossa,1991,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,15,11,807.909091,3700
35923,Wallace Environmental,Wetl Testarossa,1992,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,14,11,807.909091,3700
35924,Yugo,GV,1988,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35925,Yugo,GV,1988,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
35926,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,14.330870,21,27,23,386.391304,1450
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35928,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35929,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35931,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
35932,smart,fortwo cabriolet,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35933,smart,fortwo cabriolet,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35934,smart,fortwo cabriolet,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35935,smart,fortwo cabriolet,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35936,smart,fortwo cabriolet,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35937,smart,fortwo cabriolet,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35938,smart,fortwo cabriolet,2017,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.417429,33,38,35,251.000000,1150
35939,smart,fortwo cabriolet,2017,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.694412,31,38,34,258.000000,1200
35940,smart,fortwo convertible,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35941,smart,fortwo convertible,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35942,smart,fortwo coupe,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35943,smart,fortwo coupe,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35944,smart,fortwo coupe,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35945,smart,fortwo coupe,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35946,smart,fortwo coupe,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [12]:
df=pd.read_csv('./Slides/vehicles/vehicles/vehicles_pipe.txt', sep="|")
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000
20,Acura,2.5TL/3.2TL,1998,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
21,Acura,3.2CL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,16.480500,17,27,20,444.350000,2000
22,Acura,3.2CL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
23,Acura,3.2CL,2003,3.2,6.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,26,20,444.350000,2000
24,Acura,3.2CL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
25,Acura,3.2TL,1999,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,25,20,444.350000,2000
26,Acura,3.2TL,2000,3.2,6.0,Automatic 5-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
27,Acura,3.2TL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
28,Acura,3.2TL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
29,Acura,3.2TL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35922,Wallace Environmental,Wetl Testarossa,1991,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,15,11,807.909091,3700
35923,Wallace Environmental,Wetl Testarossa,1992,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,14,11,807.909091,3700
35924,Yugo,GV,1988,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35925,Yugo,GV,1988,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
35926,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,14.330870,21,27,23,386.391304,1450
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35928,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35929,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35931,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
35932,smart,fortwo cabriolet,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35933,smart,fortwo cabriolet,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35934,smart,fortwo cabriolet,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35935,smart,fortwo cabriolet,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35936,smart,fortwo cabriolet,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35937,smart,fortwo cabriolet,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35938,smart,fortwo cabriolet,2017,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.417429,33,38,35,251.000000,1150
35939,smart,fortwo cabriolet,2017,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.694412,31,38,34,258.000000,1200
35940,smart,fortwo convertible,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35941,smart,fortwo convertible,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35942,smart,fortwo coupe,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35943,smart,fortwo coupe,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35944,smart,fortwo coupe,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35945,smart,fortwo coupe,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35946,smart,fortwo coupe,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [16]:
df.to_csv('new_dataframe.csv', index=False)

In [15]:
os.getcwd()

'C:\\Users\\eldiy\\Documents\\Ironhack'

In [18]:
df.to_csv('new_dataframe.txt', sep='>|<"', index=False)

TypeError: "delimiter" must be a 1-character string

In [19]:
df=pd.read_excel('./Slides/vehicles/vehicles/vehicles.xlsx')
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
10,Acura,2.3CL/3.0CL,1998,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000
20,Acura,2.5TL/3.2TL,1998,3.2,6,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
21,Acura,3.2CL,2001,3.2,6,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,16.480500,17,27,20,444.350000,2000
22,Acura,3.2CL,2002,3.2,6,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
23,Acura,3.2CL,2003,3.2,6,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,26,20,444.350000,2000
24,Acura,3.2CL,2003,3.2,6,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
25,Acura,3.2TL,1999,3.2,6,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,25,20,444.350000,2000
26,Acura,3.2TL,2000,3.2,6,Automatic 5-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
27,Acura,3.2TL,2001,3.2,6,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
28,Acura,3.2TL,2002,3.2,6,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
29,Acura,3.2TL,2003,3.2,6,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35922,Wallace Environmental,Wetl Testarossa,1991,4.9,12,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,15,11,807.909091,3700
35923,Wallace Environmental,Wetl Testarossa,1992,4.9,12,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,14,11,807.909091,3700
35924,Yugo,GV,1988,1.1,4,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35925,Yugo,GV,1988,1.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
35926,Yugo,GV Plus/GV/Cabrio,1990,1.3,4,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,14.330870,21,27,23,386.391304,1450
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35928,Yugo,GV/GVX,1987,1.1,4,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35929,Yugo,GV/GVX,1989,1.1,4,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35930,Yugo,GV/GVX,1989,1.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35931,Yugo,Gy/yugo GVX,1986,1.1,4,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
35932,smart,fortwo cabriolet,2010,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35933,smart,fortwo cabriolet,2011,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35934,smart,fortwo cabriolet,2012,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35935,smart,fortwo cabriolet,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35936,smart,fortwo cabriolet,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35937,smart,fortwo cabriolet,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35938,smart,fortwo cabriolet,2017,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.417429,33,38,35,251.000000,1150
35939,smart,fortwo cabriolet,2017,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.694412,31,38,34,258.000000,1200
35940,smart,fortwo convertible,2008,1.0,3,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35941,smart,fortwo convertible,2009,1.0,3,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35942,smart,fortwo coupe,2008,1.0,3,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35943,smart,fortwo coupe,2009,1.0,3,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35944,smart,fortwo coupe,2010,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35945,smart,fortwo coupe,2011,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35946,smart,fortwo coupe,2012,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [ ]:
df.to_excel('new_excel.xlsx',index=False)

In [20]:
pd.read_json('./Slides/vehicles/vehicles/vehicles.json',orient='records')

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Drivetrain,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Fuel Type,Highway MPG,Make,Model,Transmission,Vehicle Class,Year
0,522.764706,18,17,4,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
1,683.615385,13,13,6,2-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,FJ8c Post Office,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
2,555.437500,16,16,4,Rear-Wheel Drive,2.5,20.600625,2100,Regular,17,AM General,Post Office DJ5 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1985
3,683.615385,13,13,6,Rear-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,Post Office DJ8 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1985
4,555.437500,14,16,6,Rear-Wheel Drive,3.8,20.600625,2550,Premium,21,ASC Incorporated,GNX,Automatic 4-spd,Midsize Cars,1987
5,403.954545,20,22,4,Front-Wheel Drive,2.2,14.982273,1500,Regular,26,Acura,2.2CL/3.0CL,Automatic 4-spd,Subcompact Cars,1997
6,370.291667,22,24,4,Front-Wheel Drive,2.2,13.733750,1400,Regular,28,Acura,2.2CL/3.0CL,Manual 5-spd,Subcompact Cars,1997
7,444.350000,18,20,6,Front-Wheel Drive,3.0,16.480500,1650,Regular,26,Acura,2.2CL/3.0CL,Automatic 4-spd,Subcompact Cars,1997
8,403.954545,19,22,4,Front-Wheel Drive,2.3,14.982273,1500,Regular,27,Acura,2.3CL/3.0CL,Automatic 4-spd,Subcompact Cars,1998
9,370.291667,21,24,4,Front-Wheel Drive,2.3,13.733750,1400,Regular,29,Acura,2.3CL/3.0CL,Manual 5-spd,Subcompact Cars,1998
10,444.350000,17,20,6,Front-Wheel Drive,3.0,16.480500,1650,Regular,26,Acura,2.3CL/3.0CL,Automatic 4-spd,Subcompact Cars,1998
11,403.954545,20,22,4,Front-Wheel Drive,2.3,14.982273,1500,Regular,27,Acura,2.3CL/3.0CL,Automatic 4-spd,Subcompact Cars,1999
12,370.291667,21,24,4,Front-Wheel Drive,2.3,13.733750,1400,Regular,29,Acura,2.3CL/3.0CL,Manual 5-spd,Subcompact Cars,1999
13,444.350000,17,20,6,Front-Wheel Drive,3.0,16.480500,1650,Regular,26,Acura,2.3CL/3.0CL,Automatic 4-spd,Subcompact Cars,1999
14,444.350000,18,20,5,Front-Wheel Drive,2.5,16.480500,2000,Premium,23,Acura,2.5TL,Automatic 4-spd,Compact Cars,1995
15,444.350000,18,20,5,Front-Wheel Drive,2.5,16.480500,2000,Premium,23,Acura,2.5TL/3.2TL,Automatic 4-spd,Compact Cars,1996
16,467.736842,17,19,6,Front-Wheel Drive,3.2,17.347895,2150,Premium,22,Acura,2.5TL/3.2TL,Automatic 4-spd,Compact Cars,1996
17,444.350000,18,20,5,Front-Wheel Drive,2.5,16.480500,2000,Premium,23,Acura,2.5TL/3.2TL,Automatic 4-spd,Compact Cars,1997
18,467.736842,17,19,6,Front-Wheel Drive,3.2,17.347895,2150,Premium,22,Acura,2.5TL/3.2TL,Automatic 4-spd,Compact Cars,1997
19,444.350000,17,20,5,Front-Wheel Drive,2.5,16.480500,2000,Premium,23,Acura,2.5TL/3.2TL,Automatic 4-spd,Compact Cars,1998
20,467.736842,17,19,6,Front-Wheel Drive,3.2,17.347895,2150,Premium,22,Acura,2.5TL/3.2TL,Automatic 4-spd,Compact Cars,1998
21,444.350000,17,20,6,Front-Wheel Drive,3.2,16.480500,2000,Premium,27,Acura,3.2CL,Automatic (S5),Compact Cars,2001
22,423.190476,17,21,6,Front-Wheel Drive,3.2,15.695714,1950,Premium,27,Acura,3.2CL,Automatic (S5),Compact Cars,2002
23,444.350000,17,20,6,Front-Wheel Drive,3.2,16.480500,2000,Premium,26,Acura,3.2CL,Manual 6-spd,Compact Cars,2003
24,423.190476,17,21,6,Front-Wheel Drive,3.2,15.695714,1950,Premium,27,Acura,3.2CL,Automatic (S5),Compact Cars,2003
25,444.350000,17,20,6,Front-Wheel Drive,3.2,16.480500,2000,Premium,25,Acura,3.2TL,Automatic 4-spd,Midsize Cars,1999
26,444.350000,17,20,6,Front-Wheel Drive,3.2,16.480500,2000,Premium,27,Acura,3.2TL,Automatic 5-spd,Midsize Cars,2000
27,444.350000,17,20,6,Front-Wheel Drive,3.2,16.480500,2000,Premium,27,Acura,3.2TL,Automatic (S5),Midsize Cars,2001
28,423.190476,17,21,6,Front-Wheel Drive,3.2,15.695714,1950,Premium,27,Acura,3.2TL,Automatic (S5),Midsize Cars,2002
29,423.190476,17,21,6,Front-Wheel Drive,3.2,15.695714,1950,Premium,27,Acura,3.2TL,Automatic (S5),Midsize Cars,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35922,807.909091,9,11,12,Rear-Wheel Drive,4.9,29.964545,3700,Premium,15,Wallace Environmental,Wetl Testarossa,Manual 5-spd,Two Seaters,1991
35923,807.909091,9,11,12,Rear-Wheel Drive,4.9,29.964545,3700,Premium,14,Wallace Environmental,Wetl Testarossa,Manual 5-spd,Two Seaters,1992
35924,341.807692,24,26,4,Front-Wheel Drive,1.1,12.677308,1300,Regular,29,Yugo,GV,Manual 4-spd,Subcompact Cars,1988
35925,370.291667,23,24,4,Front-Wheel Drive,1.3,13.733750,1400,Regular,27,Yugo,GV,Manual 5-spd,Subcompact Cars,1988
35926,386.391304,21,23,4,Front-Wheel Drive,1.3,14.330870,1450,Regular,27,Yugo,GV Plus/GV/Cabrio,Manual 4-spd,Minicompact Cars,1990
35927,355.480000,23,25,4,Front-Wheel Drive,1.3,13.184400,1350,Regular,28,Yugo,GV Plus/GV/Cabrio,Manual 5-spd,Subcompact Cars,1990
35928,341.807692,24,26,4,Front-Wheel Drive,1.1,12.677308,1300,Regular,29,Yugo,GV/GVX,Manual 4-spd,Subcompact Cars,1987
35929,341.807692,24,26,4,Front-Wheel Drive,1.1,12.677308,1300,Regular,29,Yugo,GV/GVX,Manual 4-spd,Subcompact Cars,1989
35930,355.480000,23,25,4,Front-Wheel Drive,1.3,13.184400,1350,Regular,28,Yugo,GV/GVX,Manual 5-spd,Subcompact Cars,1989
35931,355.480000,22,25,4,Front-Wheel Drive,1.1,13.184400,1350,Regular,29,Yugo,Gy/yugo GVX,Manual 4-spd,Minicompact Cars,1986
35932,246.861111,33,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,41,smart,fortwo cabriolet,Auto(AM5),Two Seaters,2010
35933,246.861111,33,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,41,smart,fortwo cabriolet,Auto(AM5),Two Seaters,2011
35934,246.861111,34,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,38,smart,fortwo cabriolet,Auto(AM5),Two Seaters,2012
35935,244.000000,34,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,38,smart,fortwo cabriolet,Auto(AM5),Two Seaters,2013
35936,243.000000,34,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,38,smart,fortwo cabriolet,Auto(AM5),Two Seaters,2014
35937,244.000000,34,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,38,smart,fortwo cabriolet,Auto(AM5),Two Seaters,2015
35938,251.000000,33,35,3,Rear-Wheel Drive,0.9,9.417429,1150,Premium,38,smart,fortwo cabriolet,Auto(AM6),Two Seaters,2017
35939,258.000000,31,34,3,Rear-Wheel Drive,0.9,9.694412,1200,Premium,38,smart,fortwo cabriolet,Manual 5-spd,Two Seaters,2017
35940,246.861111,33,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,41,smart,fortwo convertible,Automatic (S5),Two Seaters,2008
35941,246.861111,33,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,41,smart,fortwo convertible,Automatic (AM5),Two Seaters,2009
35942,246.861111,33,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,41,smart,fortwo coupe,Automatic (S5),Two Seaters,2008
35943,246.861111,33,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,41,smart,fortwo coupe,Automatic (AM5),Two Seaters,2009
35944,246.861111,33,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,41,smart,fortwo coupe,Auto(AM5),Two Seaters,2010
35945,246.861111,33,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,41,smart,fortwo coupe,Auto(AM5),Two Seaters,2011
35946,246.861111,34,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,38,smart,fortwo coupe,Auto(AM5),Two Seaters,2012
35947,244.000000,34,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,38,smart,fortwo coupe,Auto(AM5),Two Seaters,2013
35948,243.000000,34,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,38,smart,fortwo coupe,Auto(AM5),Two Seaters,2014
35949,244.000000,34,36,3,Rear-Wheel Drive,1.0,9.155833,1100,Premium,38,smart,fortwo coupe,Auto(AM5),Two Seaters,2015
35950,246.000000,34,36,3,Rear-Wheel Drive,0.9,9.155833,1100,Premium,39,smart,fortwo coupe,Auto(AM6),Two Seaters,2016
35951,255.000000,32,35,3,Rear-Wheel Drive,0.9,9.417429,1150,Premium,39,smart,fortwo coupe,Manual 5-spd,Two Seaters,2016

In [23]:
df.to_json('name.json',orient='table')

In [1]:
import pymysql
from sqlalchemy import create_engine

In [ ]:
conda install -c anaconda pymysql

In [14]:
engine = create_engine(f'mysql+pymysql://root:{password}@127.0.0.1/publications')

In [15]:
data=pd.read_sql_query("select * from employee",engine)

In [16]:
data

       emp_id      fname minit      lname  job_id  job_lvl pub_id  hire_date
0   A-C71970F       Aria             Cruz      10       87   1389 1991-10-26
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
3   ARD36773F    Anabela     R  Domingues       8      100   0877 1993-01-27
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
5   CGS88322F     Carine     G    Schmitt      13       64   1389 1992-07-07
6   DBT39435M     Daniel     B     Tonini      11       75   0877 1990-01-01
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
8   ENL44273F  Elizabeth     N    Lincoln      14       35   0877 1990-07-24
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
11  H-B39728F      Helen          Bennett      12       35   0877 1989-09-21
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
13  HAS54740M     Howard     A     Snyder      12      100   0736 1988-11-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
15  KFJ64308F      Karin     F    Josephs      14      100   0736 1992-10-17
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
21  M-R38834F    Martine            Rance       9       75   0877 1992-02-05
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
23  MAS70474F   Margaret     A      Smith       9       78   1389 1988-09-29
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
30  PHF38899M      Peter     H    Franken      10       75   0877 1992-05-17
31  PMA42628M      Paolo     M    Accorti      13       35   0877 1992-08-27
32  POK93028M     Pirkko     O  Koskitalo      10       80   9999 1993-11-29
33  PSA89086M      Pedro     S     Afonso      14       89   1389 1990-12-24
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
40  TPO55093M    Timothy     P   O'Rourke      13      100   0736 1988-06-19
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13
42  Y-L77953M      Yoshi          Latimer      12       32   1389 1989-06-11

In [17]:
data.to_sql('employee2', engine, if_exists='replace', index=False)

# 2 part of the day

In [20]:
data.head(5)

      emp_id    fname minit      lname  job_id  job_lvl pub_id  hire_date
0  A-C71970F     Aria             Cruz      10       87   1389 1991-10-26
1  A-R89858F  Annette           Roulet       6      152   9999 1990-02-21
2  AMD15433F      Ann     M      Devon       3      200   9952 1991-07-16
3  ARD36773F  Anabela     R  Domingues       8      100   0877 1993-01-27
4  CFH28514M   Carlos     F   Hernadez       5      211   9999 1989-04-21

In [21]:
data.tail(5)

       emp_id     fname minit     lname  job_id  job_lvl pub_id  hire_date
38  RBM23061F      Rita     B    Muller       5      198   1622 1993-10-09
39  SKO22412M      Sven     K   Ottlieb       5      150   1389 1991-04-05
40  TPO55093M   Timothy     P  O'Rourke      13      100   0736 1988-06-19
41  VPA30890F  Victoria     P  Ashworth       6      140   0877 1990-09-13
42  Y-L77953M     Yoshi         Latimer      12       32   1389 1989-06-11

In [22]:
data.tail(1)

       emp_id  fname minit    lname  job_id  job_lvl pub_id  hire_date
42  Y-L77953M  Yoshi        Latimer      12       32   1389 1989-06-11

In [33]:
data.hire_date.tail(1)=='1989-06-11'

42    True
Name: hire_date, dtype: bool

In [39]:
data.columns=[x.upper() for x in data.columns]
data

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
0   A-C71970F       Aria             Cruz      10       87   1389 1991-10-26
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
3   ARD36773F    Anabela     R  Domingues       8      100   0877 1993-01-27
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
5   CGS88322F     Carine     G    Schmitt      13       64   1389 1992-07-07
6   DBT39435M     Daniel     B     Tonini      11       75   0877 1990-01-01
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
8   ENL44273F  Elizabeth     N    Lincoln      14       35   0877 1990-07-24
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
11  H-B39728F      Helen          Bennett      12       35   0877 1989-09-21
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
13  HAS54740M     Howard     A     Snyder      12      100   0736 1988-11-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
15  KFJ64308F      Karin     F    Josephs      14      100   0736 1992-10-17
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
21  M-R38834F    Martine            Rance       9       75   0877 1992-02-05
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
23  MAS70474F   Margaret     A      Smith       9       78   1389 1988-09-29
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
30  PHF38899M      Peter     H    Franken      10       75   0877 1992-05-17
31  PMA42628M      Paolo     M    Accorti      13       35   0877 1992-08-27
32  POK93028M     Pirkko     O  Koskitalo      10       80   9999 1993-11-29
33  PSA89086M      Pedro     S     Afonso      14       89   1389 1990-12-24
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
40  TPO55093M    Timothy     P   O'Rourke      13      100   0736 1988-06-19
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13
42  Y-L77953M      Yoshi          Latimer      12       32   1389 1989-06-11

In [41]:
data.to_numpy()

array([['A-C71970F', 'Aria', '', 'Cruz', 10, 87, '1389',
        Timestamp('1991-10-26 00:00:00')],
       ['A-R89858F', 'Annette', '', 'Roulet', 6, 152, '9999',
        Timestamp('1990-02-21 00:00:00')],
       ['AMD15433F', 'Ann', 'M', 'Devon', 3, 200, '9952',
        Timestamp('1991-07-16 00:00:00')],
       ['ARD36773F', 'Anabela', 'R', 'Domingues', 8, 100, '0877',
        Timestamp('1993-01-27 00:00:00')],
       ['CFH28514M', 'Carlos', 'F', 'Hernadez', 5, 211, '9999',
        Timestamp('1989-04-21 00:00:00')],
       ['CGS88322F', 'Carine', 'G', 'Schmitt', 13, 64, '1389',
        Timestamp('1992-07-07 00:00:00')],
       ['DBT39435M', 'Daniel', 'B', 'Tonini', 11, 75, '0877',
        Timestamp('1990-01-01 00:00:00')],
       ['DWR65030M', 'Diego', 'W', 'Roel', 6, 192, '1389',
        Timestamp('1991-12-16 00:00:00')],
       ['ENL44273F', 'Elizabeth', 'N', 'Lincoln', 14, 35, '0877',
        Timestamp('1990-07-24 00:00:00')],
       ['F-C16315M', 'Francisco', '', 'Chang', 4, 227, '9952',
        Timestamp('1990-11-03 00:00:00')],
       ['GHT50241M', 'Gary', 'H', 'Thomas', 9, 170, '0736',
        Timestamp('1988-08-09 00:00:00')],
       ['H-B39728F', 'Helen', '', 'Bennett', 12, 35, '0877',
        Timestamp('1989-09-21 00:00:00')],
       ['HAN90777M', 'Helvetius', 'A', 'Nagy', 7, 120, '9999',
        Timestamp('1993-03-19 00:00:00')],
       ['HAS54740M', 'Howard', 'A', 'Snyder', 12, 100, '0736',
        Timestamp('1988-11-19 00:00:00')],
       ['JYL26161F', 'Janine', 'Y', 'Labrune', 5, 172, '9901',
        Timestamp('1991-05-26 00:00:00')],
       ['KFJ64308F', 'Karin', 'F', 'Josephs', 14, 100, '0736',
        Timestamp('1992-10-17 00:00:00')],
       ['KJJ92907F', 'Karla', 'J', 'Jablonski', 9, 170, '9999',
        Timestamp('1994-03-11 00:00:00')],
       ['L-B31947F', 'Lesley', '', 'Brown', 7, 120, '0877',
        Timestamp('1991-02-13 00:00:00')],
       ['LAL21447M', 'Laurence', 'A', 'Lebihan', 5, 175, '0736',
        Timestamp('1990-06-03 00:00:00')],
       ['M-L67958F', 'Maria', '', 'Larsson', 7, 135, '1389',
        Timestamp('1992-03-27 00:00:00')],
       ['M-P91209M', 'Manuel', '', 'Pereira', 8, 101, '9999',
        Timestamp('1989-01-09 00:00:00')],
       ['M-R38834F', 'Martine', '', 'Rance', 9, 75, '0877',
        Timestamp('1992-02-05 00:00:00')],
       ['MAP77183M', 'Miguel', 'A', 'Paolino', 11, 112, '1389',
        Timestamp('1992-12-07 00:00:00')],
       ['MAS70474F', 'Margaret', 'A', 'Smith', 9, 78, '1389',
        Timestamp('1988-09-29 00:00:00')],
       ['MFS52347M', 'Martin', 'F', 'Sommer', 10, 165, '0736',
        Timestamp('1990-04-13 00:00:00')],
       ['MGK44605M', 'Matti', 'G', 'Karttunen', 6, 220, '0736',
        Timestamp('1994-05-01 00:00:00')],
       ['MJP25939M', 'Maria', 'J', 'Pontes', 5, 246, '1756',
        Timestamp('1989-03-01 00:00:00')],
       ['MMS49649F', 'Mary', 'M', 'Saveley', 8, 175, '0736',
        Timestamp('1993-06-29 00:00:00')],
       ['PCM98509F', 'Patricia', 'C', 'McKenna', 11, 150, '9999',
        Timestamp('1989-08-01 00:00:00')],
       ['PDI47470M', 'Palle', 'D', 'Ibsen', 7, 195, '0736',
        Timestamp('1993-05-09 00:00:00')],
       ['PHF38899M', 'Peter', 'H', 'Franken', 10, 75, '0877',
        Timestamp('1992-05-17 00:00:00')],
       ['PMA42628M', 'Paolo', 'M', 'Accorti', 13, 35, '0877',
        Timestamp('1992-08-27 00:00:00')],
       ['POK93028M', 'Pirkko', 'O', 'Koskitalo', 10, 80, '9999',
        Timestamp('1993-11-29 00:00:00')],
       ['PSA89086M', 'Pedro', 'S', 'Afonso', 14, 89, '1389',
        Timestamp('1990-12-24 00:00:00')],
       ['PSP68661F', 'Paula', 'S', 'Parente', 8, 125, '1389',
        Timestamp('1994-01-19 00:00:00')],
       ['PTC11962M', 'Philip', 'T', 'Cramer', 2, 215, '9952',
        Timestamp('1989-11-11 00:00:00')],
       ['PXH22250M', 'Paul', 'X', 'Henriot', 5, 159, '0877',
        Timestamp('1993-08-19 00:00:00')],
       ['R-M53550M', 'Roland', '', 'Mendel', 11, 150, '0736',
        Timestamp('1991-09-05 00:00:00')],
       ['RBM23061F', 'Rita', 'B', 'Muller', 5, 198, '1622',
        Timestamp('1993-10-09 00:00:00')],
       ['SKO22412M', 'Sven', 'K', 'Ottlieb', 5, 150, '1389',
        Timestamp('1991-04-05 00:00:00')],
       ['TPO55093M', 'Timothy', 'P', "O'Rourke", 13, 100, '0736',
        Timestamp('1988-06-19 00:00:00')],
       ['VPA30890F', 'Victoria', 'P', 'Ashworth', 6, 140, '0877',
        Timestamp('1990-09-13 00:00:00')],
       ['Y-L77953M', 'Yoshi', '', 'Latimer', 12, 32, '1389',
        Timestamp('1989-06-11 00:00:00')]], dtype=object)

In [48]:
import numpy as np
df=pd.DataFrame({'one':pd.Series(np.random.random(3),index=['a','b','c']),
                 'two':pd.Series(np.random.random(4),index=['a','b','c','d']),
                'three':pd.Series(np.random.random(3),index=['b','c','d'])})
df

        one       two     three
a  0.448144  0.453164       NaN
b  0.568618  0.736220  0.710459
c  0.248138  0.410817  0.007557
d       NaN  0.333415  0.983982

In [56]:
row=df.iloc[1]
column=df.two
row

one      0.568618
two      0.736220
three    0.710459
Name: b, dtype: float64

In [55]:
df

        one       two     three
a  0.448144  0.453164       NaN
b  0.568618  0.736220  0.710459
c  0.248138  0.410817  0.007557
d       NaN  0.333415  0.983982

In [71]:
df1=df+row
df1-(df1.iloc[1]/2)==df

     one    two  three
a  False   True  False
b   True   True   True
c   True  False   True
d  False   True   True

In [72]:
df2=df1

In [77]:
df2=df2.add(row)

In [78]:
df1

        one       two     three
a  1.016762  1.189384       NaN
b  1.137235  1.472439  1.420919
c  0.816755  1.147036  0.718017
d       NaN  1.069634  1.694442

In [79]:
df

        one       two     three
a  0.448144  0.453164       NaN
b  0.568618  0.736220  0.710459
c  0.248138  0.410817  0.007557
d       NaN  0.333415  0.983982

In [80]:
df2=df

In [82]:
df2['four']='blabla'
df2

        one       two     three    four
a  0.448144  0.453164       NaN  blabla
b  0.568618  0.736220  0.710459  blabla
c  0.248138  0.410817  0.007557  blabla
d       NaN  0.333415  0.983982  blabla

In [88]:
df['five']='bhhhhhh'
df3=df2.copy()
df3['six']='buagaga'
df3

        one       two     three    four     five      six
a  0.448144  0.453164       NaN  blabla  bhhhhhh  buagaga
b  0.568618  0.736220  0.710459  blabla  bhhhhhh  buagaga
c  0.248138  0.410817  0.007557  blabla  bhhhhhh  buagaga
d       NaN  0.333415  0.983982  blabla  bhhhhhh  buagaga

In [92]:
for i in df.index:
    print(df.loc[i])

one      0.448144
two      0.453164
three         NaN
four       blabla
five      bhhhhhh
Name: a, dtype: object
one      0.568618
two       0.73622
three    0.710459
four       blabla
five      bhhhhhh
Name: b, dtype: object
one        0.248138
two        0.410817
three    0.00755725
four         blabla
five        bhhhhhh
Name: c, dtype: object
one           NaN
two      0.333415
three    0.983982
four       blabla
five      bhhhhhh
Name: d, dtype: object

In [107]:
df.ix['a']

C:\Users\eldiy\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

one      0.448144
two      0.453164
three         NaN
four       blabla
five      bhhhhhh
Name: a, dtype: object

In [108]:
df

        one       two     three    four     five
a  0.448144  0.453164       NaN  blabla  bhhhhhh
b  0.568618  0.736220  0.710459  blabla  bhhhhhh
c  0.248138  0.410817  0.007557  blabla  bhhhhhh
d       NaN  0.333415  0.983982  blabla  bhhhhhh

In [111]:
df2

        one       two     three    four     five
a  0.448144  0.453164       NaN  blabla  bhhhhhh
b  0.568618  0.736220  0.710459  blabla  bhhhhhh
c  0.248138  0.410817  0.007557  blabla  bhhhhhh
d       NaN  0.333415  0.983982  blabla  bhhhhhh

In [112]:
df==df2

     one   two  three  four  five
a   True  True  False  True  True
b   True  True   True  True  True
c   True  True   True  True  True
d  False  True   True  True  True

In [113]:
df+df2

        one       two     three          four            five
a  0.896289  0.906328       NaN  blablablabla  bhhhhhhbhhhhhh
b  1.137235  1.472439  1.420919  blablablabla  bhhhhhhbhhhhhh
c  0.496275  0.821633  0.015114  blablablabla  bhhhhhhbhhhhhh
d       NaN  0.666829  1.967965  blablablabla  bhhhhhhbhhhhhh

In [118]:
df.sub(df1)

  five four       one     three      two
a  NaN  NaN -0.568618       NaN -0.73622
b  NaN  NaN -0.568618 -0.710459 -0.73622
c  NaN  NaN -0.568618 -0.710459 -0.73622
d  NaN  NaN       NaN -0.710459 -0.73622

In [128]:
df.eq(df2)

     one   two  three  four  five
a   True  True  False  True  True
b   True  True   True  True  True
c   True  True   True  True  True
d  False  True   True  True  True

In [129]:
df.ne(df2)

     one    two  three   four   five
a  False  False   True  False  False
b  False  False  False  False  False
c  False  False  False  False  False
d   True  False  False  False  False

In [130]:
df.lt(df2)

     one    two  three   four   five
a  False  False  False  False  False
b  False  False  False  False  False
c  False  False  False  False  False
d  False  False  False  False  False

In [131]:
df.le(df2)

     one   two  three  four  five
a   True  True  False  True  True
b   True  True   True  True  True
c   True  True   True  True  True
d  False  True   True  True  True

In [142]:
if np.inf:
    print('yes')

yes

In [151]:
np.inf/2

inf

In [166]:
df[~(df.one>0.5)]

        one       two     three    four     five
a  0.448144  0.453164       NaN  blabla  bhhhhhh
c  0.248138  0.410817  0.007557  blabla  bhhhhhh
d       NaN  0.333415  0.983982  blabla  bhhhhhh

In [171]:
(~(df==df2))==(df!=df2)

    one   two  three  four  five
a  True  True   True  True  True
b  True  True   True  True  True
c  True  True   True  True  True
d  True  True   True  True  True

In [174]:
df.isna().sum()/df.shape[0]

one      0.25
two      0.00
three    0.25
four     0.00
five     0.00
dtype: float64

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 5 columns):
one      3 non-null float64
two      4 non-null float64
three    3 non-null float64
four     4 non-null object
five     4 non-null object
dtypes: float64(3), object(2)
memory usage: 352.0+ bytes

In [179]:
df.shape

(4, 5)

In [181]:
df.size

20

In [183]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
one,3.0,0.421633,0.161877,0.248138,0.348141,0.448144,0.508381,0.568618
two,4.0,0.483404,0.175685,0.333415,0.391466,0.431990,0.523928,0.736220
three,3.0,0.567333,0.503702,0.007557,0.359008,0.710459,0.847221,0.983982

# Lambda function

In [187]:
data[data.JOB_LVL>100]

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13

In [193]:
def is_high(x):
    return x>100

data[data['JOB_LVL'].apply(is_high)]

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13

In [205]:
data[data['JOB_LVL'].apply(lambda x:x>100)]

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13

In [214]:
def check_box(x):
    return (x.JOB_LVL+JOB_ID)>100
    

data[data.apply(lambda x:x.JOB_LVL+x.JOB_ID>100,axis=1)]

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
3   ARD36773F    Anabela     R  Domingues       8      100   0877 1993-01-27
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
13  HAS54740M     Howard     A     Snyder      12      100   0736 1988-11-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
15  KFJ64308F      Karin     F    Josephs      14      100   0736 1992-10-17
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
33  PSA89086M      Pedro     S     Afonso      14       89   1389 1990-12-24
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
40  TPO55093M    Timothy     P   O'Rourke      13      100   0736 1988-06-19
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13

In [216]:
square=lambda x:x**2

square(5)

25

In [217]:
def square_func(x):
    return x**2

square_func(5)

25

In [219]:
summ=lambda a,b:a+b

summ('a','b')

'ab'

In [224]:
div= lambda x,y: print(x/y) if (y!=0) else print('hasdhas')

div(10,3)
div(10,0)

3.3333333333333335
hasdhas

In [227]:
def generate_range(lower):
    return lambda upper: range(lower,upper)

custom_range=generate_range(2)
print(custom_range(5))

range(2, 5)

In [228]:
[x for x in custom_range(10)]

[2, 3, 4, 5, 6, 7, 8, 9]

In [229]:
[[x for x in custom_range(i)] for i in range(3,6)]

[[2], [2, 3], [2, 3, 4]]

In [232]:
[square(x) for x in range(6)]

[0, 1, 4, 9, 16, 25]

In [239]:
string=['Metallica','AC/DC','Queen','System-of-a-Down']
[(lambda x: x.replace('-',' '))(x) for x in string]

['Metallica', 'AC/DC', 'Queen', 'System of a Down']

In [237]:
last=lambda x:x[-1]

last(string)

'System-of-a-Down'

In [245]:
sorted(string, reverse=True)

['System-of-a-Down', 'Queen', 'Metallica', 'AC/DC']